
.tab-pane {
    border:1px white solid;
    border-top: none !important;
    width:80%;
}

.help-block {
    color: white;
}

#nav-tabLogin {
    width:80%;

}

.nav-item {
width:50%;
}

.nav-item:not(.active) {
    color:white;
}

.nav-tabs > li.active > a {
    color: #3c5a78 !important;
}
.nav-tabs > li {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.nav-tabs > li > a {
    color: #575757 !important;
}

.image-position-right img {
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.carousel-item {
    height:35em;
    width: 22em;
}

blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  margin-left: 1.8em !important;
  text-align:center;
  padding-left:20px;
  padding-right:20px;

}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.58em;
}

blockquote p {
  display: inline;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size:20px;
}

.bootbox .modal-header h4 {
    order: 0;
}
.bootbox .modal-header button {
    order: 1;
}

@font-face {
    font-family: Metropolis;
    src: url("../../commun/font/Metropolis/Metropolis-Regular.otf") format("opentype");
}

#logoBetFip {
  margin-top: -5px;
}

#headerDef {
  background: linear-gradient(135deg,#95072f 5%,#d80f09 100%);
}

#headerDef .lien{
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.5;
  color: #fff ;
  margin-right: 12px;
  font-family: MetropolisRegular,Arial !important;
}

#headerDef  .lien::after {
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    height: 2px;
    transform: scale3d(0,3,1);
    transition: transform 0.5s;
}

#headerDef .lien.selected::after, #headerDef .lien:hover::after {
    transform: scale3d(1,1,1);
}

#headerDef .lien::after {
    content: "";
}

.navbar-bet .navbar-toggler {
    color: rgba(255,255,255,.9);
    border-color: rgba\(255,255,255,.5;
}

body {
  background-color: #e8e9eb !important;
}

*, ::after, ::before {
    box-sizing: border-box;
}

#sign {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 38em;
  background: linear-gradient(135deg,#95072f 5%,#d80f09 100%);
}

input[type=text] {
    margin-bottom: 10px;
}

html, body {
    height: 100%;
}

#tabParis td{
  text-align: center;
}

#tabParis td, #tabParis th{
  vertical-align: middle;
}
#tabParis input{
  width: 50px;
}
#tabUsers td, #tabUsers th{
  text-align: center;
}

#tabUsers td, #tabUsers th{
  vertical-align: middle;
}
#tabUsers input{
  width: 50px;
}
.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
    color: black;
    text-decoration: none;
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

#mainContainer {
  height: 100%;
}

.resultat span {
  width: 30px;
  display: inline-block;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
  background: #575757;
  font-weight: bold;
  color: white;
  padding-top: 3px;
}

.activeGroupe a{
  background: #666;
  color: white;
}

.titleGroupe {
  padding: 5px;
  padding-top: 25px;
  background-color: white;
  font-size: 20px;
  color: #95072f;
}

.titlePage{
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #95072f;
  padding-top: 20px;
}

.dateMatch {
  font-size: 12px;
  font-style: italic;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.navbar-nav {
  margin-left: 0;
}
