<div class="row">
    <div class="col-12 vertical-menu">
        <div class="titleGroupe">Réglement</div>

        <div class="container">
            <h3 class="titlePage">Vous pronostiquez pour chaque match de la compétition et engrangez des points en fonction des résultats :</h3><br/>
            <hr/>
            <b>&nbsp;Barème de points pour les matchs de Groupe</b><br/>
            <ul style="padding-left: 30px">
                <li>1 point si le bon résultat est trouvé (équipe vainqueur ou match nul)</li>
                <li>1 point supplémentaire si l'écart de but entre les deux équipes est correct</li>
                <li>1 point supplémentaire pour le bon nombre de buts inscrit par équipe (score exacte)</li>
            </ul>
            <hr/>
            <b>&nbsp;Barème de points pour les Huitièmes de finale</b><br/>
            <ul style="padding-left: 30px">
                <li>2 points si le bon résultat est trouvé (équipe vainqueur ou match nul à l'issue du temps réglementaire )</li>
                <li>2 points supplémentaires si l'écart de but entre les deux équipes est correct (à l'issue du temps réglementaire )</li>
                <li>2 points supplémentaires pour le bon nombre de buts inscrit par équipe (score exacte à l'issue du temps réglementaire )</li>
            </ul>
            <hr/>
            <b>&nbsp;Barème de points pour les Quarts de finale</b><br/>
            <ul style="padding-left: 30px">
                <li>3 points si le bon résultat est trouvé (équipe vainqueur ou match nul à l'issue du temps réglementaire )</li>
                <li>3 points supplémentaires si l'écart de but entre les deux équipes est correct (à l'issue du temps réglementaire )</li>
                <li>3 points supplémentaires pour le bon nombre de buts inscrit par équipe (score exacte à l'issue du temps réglementaire )</li>
            </ul>
            <hr/>
            <b>&nbsp;Barème de points pour les Demi-finales</b><br/>
            <ul style="padding-left: 30px">
                <li>4 points si le bon résultat est trouvé (équipe vainqueur ou match nul à l'issue du temps réglementaire )</li>
                <li>4 points supplémentaires si l'écart de but entre les deux équipes est correct (à l'issue du temps réglementaire )</li>
                <li>4 points supplémentaires pour le bon nombre de buts inscrit par équipe (score exacte à l'issue du temps réglementaire )</li>
            </ul>
            <hr/>
            <b>&nbsp;Barème de points pour la Petite finale <i>(Si elle existe)</i></b><br/>
            <ul style="padding-left: 30px">
                <li>5 points si le bon résultat est trouvé (équipe vainqueur ou match nul à l'issue du temps réglementaire )</li>
                <li>5 points supplémentaires si l'écart de but entre les deux équipes est correct (à l'issue du temps réglementaire )</li>
                <li>5 points supplémentaires pour le bon nombre de buts inscrit par équipe (score exacte à l'issue du temps réglementaire )</li>
            </ul>
            <hr/>
            <b>&nbsp;Barème de points pour la Finale</b><br/>
            <ul style="padding-left: 30px">
                <li>6 points si le bon résultat est trouvé (équipe vainqueur ou match nul à l'issue du temps réglementaire )</li>
                <li>6 points supplémentaires si l'écart de but entre les deux équipes est correct (à l'issue du temps réglementaire )</li>
                <li>6 points supplémentaires pour le bon nombre de buts inscrit par équipe (score exacte à l'issue du temps réglementaire )</li>
            </ul>
        </div>
    </div>
</div>


