<div id="sign">
  <form class="form-signin">
    <img class="mb-4" src="./ressource/img/Logo_BetFip2.png" alt="" width="200" >
    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputEmail" class="sr-only">Votre email</label>
    <input id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="" type="email">
    <label for="inputPassword" class="sr-only">Votre mot de passe</label>
    <input id="inputPassword" class="form-control" placeholder="Mot de passe" required="" type="password">
    <div class="checkbox mb-3">
      <label>
        <input value="remember-me" type="checkbox"> Se souvenir de moi </input>
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </form>
</div>
