
<nav class="navbar fixed-top navbar-expand-sm" id="headerDef">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBet" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img id="logoBetFip" src="./ressource/img/Logo_BetFip2.png" height="60" alt="logo BetFiP">
  </a>
  <div class=" navbar-collapse collapse container-fluid" id="navbarBet">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link lien" id="parisLink" href="#paris">Paris</a>
      </li>
      <li class="nav-item">
        <a class="nav-link lien" id="classementLink" href="#classement">Classement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link lien" id="reglementLink" href="#reglement">Règlement</a>
      </li>
    </ul>
    <span class="navbar-text">
      <div class="nav-link lien" id="nomUser"></div>
    </span>
    <span class="navbar-text">
        <a class="nav-link lien" id="administrationLink" href="#administration">Administration</a>
    </span>
    <span style="font-size:1.5em; color:white" title="Se déconnecter">
      <i id="logoutLink" class='fas fa-sign-out-alt' style='cursor:pointer;'></i>
    </span>
  </div>
</nav>
