<div class="row">
	<div class="col-12 vertical-menu">
		<div class="titleGroupe">Liste des utilisateurs inscrit : </div>
			
		<!-- span id='testUsers'></span -->

		<br/>
		<div class="container" id="divUsers">
			<b>
				<div class="row">
		  			<div class="col-sm">
		    			Nom
		  			</div>
	  				<div class="col-sm">
	    				Prenom
	  				</div>
	  				<div class="col-sm">
	    				Login
	  				</div>
	  				<div class="col-sm">
	    				Email
	  				</div>
	  				<div class="col-sm">
	    				Administrateur
	  				</div>
	  				<div class="col-sm"></div>
				</div>
			</b>		
		</div>
  	</div>
</div>
