<div class="row">
	<div class="col-12 vertical-menu">
		<div class="titleGroupe">Liste des utilisateurs inscrit : </div>
		
		<span id='testUsers'></span>
		
    	<table id="tabUsers" class="table table-hover table-sm no-gutter">
      		<tbody>
      			<tr>
          			<td>Jbili Fouad</td>
          			<td>14/05/2018</td>
          			<td>Modifier</td>
       	 		</tr>
       	 		<tr>
          			<td>Jbili Fouad</td>
          			<td>14/05/2018</td>
          			<td>Modifier</td>
       	 		</tr>
       	 		<tr>
          			<td>Jbili Fouad</td>
          			<td>14/05/2018</td>
          			<td>Modifier</td>
       	 		</tr>
			</tbody>
		</table>
  	</div>
</div>
