<div class="row">
  <div class="col-2 vertical-menu">
    <div class="titleGroupe">Liste des groupes</div>
    <ul class="navbar-nav parisNav">
      <li class="activeGroupe"><a href="#paris/GroupeA" data-nom="A">Groupe A</a></li>
      <li><a href="#paris/GroupeB" data-nom="B">Groupe B</a></li>
      <li><a href="#paris/GroupeC" data-nom="C">Groupe C</a></li>
      <li><a href="#paris/GroupeD" data-nom="D">Groupe D</a></li>
      <li><a href="#paris/GroupeE" data-nom="E">Groupe E</a></li>
      <li><a href="#paris/GroupeF" data-nom="F">Groupe F</a></li>
      <li><a href="#paris/GroupeG" data-nom="G">Groupe G</a></li>
    </ul>
  </div>
  <div class="col-10" id="contenuParis">


  </div>
</div>
