<div class="row">
  <div class="col-6">
    <div class="col-11">
    <h3  class="titlePage">Classement Individuel</h3>
    <table id="tabParis" class="table table-hover table-sm no-gutter">
      <tbody>
        <tr>
          <th>Login</th>
          <th>Prénom</th>
          <th>Promo</th>
          <th>Points</th>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <div class="col-6">
    <h3  class="titlePage">Classement Collectif</h3>
    <table id="tabParis" class="table table-hover table-sm no-gutter">
      <tbody>
        <tr>
          <th>Promo</th>
          <th>Points</th>
          <th>Nb parieur</th>
          <th>Moyenne points/joueurs</th>
        </tr>
      </tbody>
    </table>
    <h3  class="titlePage">Classement Inter-Promo</h3>
    <table id="tabParis" class="table table-hover table-sm no-gutter">
      <tbody>
        <tr>
          <th>Login</th>
          <th>Prénom</th>
          <th>Promo</th>
          <th>Points</th>
          <th>Nb Match parié</th>
          <th>Succès</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
