<div class="row">
  <div class="col-2 vertical-menu" style="position:fixed;display:block">
    <div class="titleGroupe">Type de classement</div>
    <ul class="navbar-nav classementNav">
      <li class="activeGroupe"><a href="#classement/Individuel" data-nom="Individuel">Individuel</a></li>
      <li><a href="#classement/Collectif" data-nom="Collectif">Collectif</a></li>
      <li><a href="#classement/Promo" data-nom="Promo">Promo</a></li>
    </ul>
  </div>
  <div id="contenuClassement" style="padding-left:210px;">

  </div>
</div>
