<div class="row">
  <div class="col-2 vertical-menu">
    <div class="titleGroupe">Classements</div>
    <ul class="navbar-nav classementNav">
      <li class="activeGroupe"><a href="#classement/Individuel" data-nom="Individuel">Individuel</a></li>
      <li><a href="#classement/Collectif" data-nom="Collectif">Collectif</a></li>
      <li><a href="#classement/PSE" data-nom="PSE">PSE</a></li>
      <li><a href="#classement/ISA" data-nom="ISA">ISA</a></li>
      <li><a href="#classement/CSP" data-nom="CSP">CSP</a></li>
      <li><a href="#classement/ISC" data-nom="ISC">ISC</a></li>
      <li><a href="#classement/Enseignant" data-nom="Enseignant">Enseignant</a></li>
    </ul>
  </div>
  <div class="col-10">
    <h3  class="titlePage">Classement Collectif</h3>
    <table id="tabParis" class="table table-hover table-sm no-gutter">
      <tbody>
        <tr>
          <th>Login</th>
          <th>Prénom</th>
          <th>Promo</th>
          <th>Points</th>
          <th>Nb Match parié</th>
          <th>Succès</th>

        </tr>
      </tbody>
    </table>
  </div>
</div>
