  SetOutputFilter DEFLATE

	Options +FollowSymLinks
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^BetFip/services/(.*)$ /BetFip/index.php [L]
